[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
python-dotenv = "*"
pytz = "*"
firebase-admin = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.10"
